version: "3.7"

services:
  catalog:
    image: postgres:14
    environment:
      - POSTGRES_PASSWORD=testpassword

  irods-catalog-provider:
    build:
      context: ..
      dockerfile: ${dockerfile}
      args:
        - irods_package_version=${irods_package_version}
    depends_on:
      - catalog
    volumes:
      - shared_volume:/irods_testing_environment_mount_dir
    shm_size: 100mb
    ports:
      - "1247:1247"         # main iRODS port
      - "20000-20199:20000-20199"   # parallel transfer ports (optional)
    environment:
      - ODBC_DRIVER=PostgreSQL
      - DB_HOST=catalog
      - DB_PORT=5432
      - DB_PASSWORD=testpassword

volumes:
  shared_volume:

